<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dosecalculator.dosecalculator_angleseahospital">
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Notification" >

        </activity>
        <activity android:name=".ManageDrugsActivity" />
        <activity android:name=".ManageNursesActivity" />
        <activity android:name=".ManageRoomsActivity" />
        <activity android:name=".ManagePatientsActivity" />
        <activity android:name=".DrugDetails" />
        <activity android:name=".AddRoomsActivity" />
        <activity android:name=".AddNursesActivity" />
        <activity android:name=".AddPatientActivity" />
        <activity android:name=".AddDrugsActivity" />
        <activity android:name=".UpdateRoomActivity" />
        <activity android:name=".UpdateNurseActivity" />
        <activity android:name=".UpdateDrugActivity" />
        <activity android:name=".DrugCalculation" />
        <activity android:name=".UpdatePatientActivity" />
        <activity android:name=".ManageCalculation" />
        <activity android:name=".AddCalculation" />
        <activity android:name=".NurseConfirmation"/>

        <receiver android:name=".MyBroadcastReceiver" >
        </receiver>


    </application>

</manifest>