<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dosecalculator.dosecalculator_angleseahospital">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterPatient"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ManageRoomsActivity" />
        <activity android:name=".ManageDrugsActivity" />
        <activity android:name=".ManageNursesActivity" />
        <activity android:name=".ManagePatientsActivity" />
        <activity android:name=".DrugDetails"></activity>
        <activity android:name=".AddRoomsActivity"></activity>
        <activity android:name=".UpdateRoomActivity"></activity>
        <activity android:name=".AddDrugsActivity">

        </activity>


    </application>

</manifest>